/*******************
Choice Containers
********************/


.wrapper {
  width: 80vw;
  margin: auto;
}

.choice-container {
  display: flex;
  margin-bottom: .5rem;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #7D98A1;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #7D98A1;
  transform: translateY(-1px);
}

.choice-prefix {
  padding: .5rem .8rem;
  background-color: #30223D;
  color: white;
}

.choice-text {
  padding: .5rem;
  width: 100%;
}


/*******************
Choice bar colors 
********************/


.correct {
  background-color: #9be2ac;
}

.incorrect {
  background-color: #e6747f;
}


/***********
HUD 
************/


.displays {
  display: flex;
  justify-content: space-around;
}

.hud {
  padding-bottom: 1rem; 
}

.hud h1{
  margin: 0 auto;
}

.hud-prefix {
  text-align: center;
}

.hud-main-text {
  text-align: center;
}


/***********
Progress Bar 
************/


#progressBar {
  width: 9rem;
  height: 1.5rem;
  border: solid 1px #886F68;
  margin-top: .5rem;
}

#progressBarFull {
  height: 1.5rem;
  background-color: #886F68;
  width: 0%;
}


/*************
Loading Icon
**************/


/* from https://www.w3schools.com/howto/howto_css_loader.asp - with modifications */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #7D98A1;
  width: 12rem;
  height: 12rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}