.choice-container {
  display: flex;
  margin-bottom: .5rem;
  width: 100%;
  border: 1px solid rgb(86, 165, 235, .25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-1px);
  /* transition: transform 150ms; */
}

.choice-prefix {
  padding: .5rem .8rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: .5rem;
}